body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

#search-box {
  color: white;
  border: none;
  border-bottom: 1px solid green;
  transition: border-color 1s;
}

#search-box:focus,
#search-box:hover {
  outline: none;
  border-bottom: 1px solid yellow;
}

@media screen and (max-width: 575px) {
  #details-page-img {
    width: 90% !important;
  }
}
